* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: serif;
    font-size: 2rem;
    line-height: 1.5;
    background: #f1f1f1;
}

a {
    color: rgb(189, 75, 109);
    text-decoration: none;
}

a:hover {
    color: rgb(235, 94, 136);
    text-decoration: underline;
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 10%);
}

.menu {
    background: rgb(78, 0, 33);
    padding: 0 1.5rem;
}

.menu__links {
    list-style: none;
    display: flex;
}

.menu__links a {
    display: block;
    color: #f1f1f1;
    padding: 1.5rem;
}

@media (min-width: 600px) {
    .content:not(:has(.single-post)) {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }
}