* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: serif;
    font-size: 2rem;
    line-height: 1.5;
    background: #f1f1f1;
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 10%);
}

@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }
}